* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 16px;
}

/*Altera todas as caixas de produtos*/
.TodosProdutos1 {

    display: flex;
    width: 450px;
    max-width: 550px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;

}

/*Altera dentro da caixa de produto*/
.Produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 360px;
    height: 400px;

}

.imagem {
    margin-bottom: 20px;
    width: 300px;
    height: 280px;
    border-radius: 200px;
    box-shadow: 0px 0px 0px 5px rgb(107, 4, 107);
}

/*letras*/
.titulo {
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(71, 4, 97);
}

/*logo*/
.LOGO {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}


main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*Botão*/
.acompanhamento {
    background-color: rgba(71, 4, 97);
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 1px 2px 20px;
    border: rgba(71, 4, 97);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(254, 255, 253);
    transition: .5s;
    font-weight: bolder;
}

.acompanhamento:hover {
    color: rgb(128, 205, 42);
}

.img-button {
    width: 80px;
    height: 80px;
    margin: -15px;
}

.botano{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 50px;
margin-bottom: 100px;
}
