/*logo*/
.LOGO {
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

section {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

/*Botão*/
.acompanhamento {
    margin: 30px 0px 80px 0px;
    background-color: rgba(137, 43, 226, 0.699);
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 1px 2px 20px;
    border: green;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(39, 252, 6);
    transition: .5s;
}

.acompanhamento:hover {
    color: green;
}

#valorTroco{
    width: 300px;
}

/* Para navegadores modernos que suportam o seletor ::placeholder */
::placeholder {
    color: #ff0303; /* Substitua pela cor desejada */
  }
  
  /* Para navegadores mais antigos que suportam apenas o seletor ::-webkit-input-placeholder */
  :-webkit-input-placeholder {
    color: #ff0303; /* Substitua pela cor desejada */
  }
  
  /* Para navegadores mais antigos que suportam apenas o seletor ::-moz-placeholder */
  :-moz-placeholder {
    color: #ff0303; /* Substitua pela cor desejada */
  }
  
  /* Para navegadores mais antigos que suportam apenas o seletor :-ms-input-placeholder */
  :-ms-input-placeholder {
    color: #ff0303; /* Substitua pela cor desejada */
  }
  